src/main/java/org/observe/util/swing/observe-swing.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="https://github.com/Updownquark/ObServe"
xmlns="https://github.com/Updownquark/ObServe"
elementFormDefault="qualified">

	<xs:complexType name="component-type">
		<xs:attribute name="fill-x" type="xs:boolean" default="false" />
		<xs:attribute name="fill-y" type="xs:boolean" default="false" />
		<xs:attribute name="visible" type="xs:string" default="true" />
	</xs:complexType>

	<xs:complexType name="field-type" abstract="true">
		<xs:complexContent>
			<xs:extension base="component-type">
				<xs:attribute name="field-name" type="xs:string"/>
				<xs:attribute name="value" type="xs:string" use="required" />
				<xs:attribute name="enabled" type="xs:string" />
				<xs:attribute name="tooltip" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="panel-type">
		<xs:complexContent>
			<xs:extension base="field-type">
				<xs:sequence>
					<xs:element ref="component" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="layout" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="icon-type">
		<xs:attribute name="location" type="xs:string" />
		<xs:attribute name="opacity">
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="1" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="text-field-type">
		<xs:complexContent>
			<xs:extension base="field-type">
				<xs:sequence>
					<xs:element name="icon" type="icon-type" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="format" type="xs:string" use="required" />
				<xs:attribute name="columns" type="xs:positiveInteger" />
				<xs:attribute name="warning" type="xs:string" />
				<xs:attribute name="commit-on-type" type="xs:boolean" default="false" />
				<xs:attribute name="select-all-on-focus" type="xs:boolean" default="true" />
				<xs:attribute name="reformat-on-commit" type="xs:boolean" default="true" />
				<xs:attribute name="revert-on-focus-lost" type="xs:boolean" default="true" />
				<xs:attribute name="on-enter" type="xs:string" />
				<xs:attribute name="password" type="xs:boolean" default="false" />
				<xs:attribute name="echo-char">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="."/>
						</xs:restriction>
					</xs:simpleType>
  				</xs:attribute>
				<xs:attribute name="icon" type="xs:string" />
				<xs:attribute name="empty-text" type="xs:string" default="" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="spinner-type">
		<xs:complexContent>
			<xs:extension base="text-field-type">
				<xs:sequence>
					<xs:element name="up-icon" type="icon-type" minOccurs="0" maxOccurs="1" />
					<xs:element name="down-icon" type="icon-type" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="up-icon" type="xs:string" />
				<xs:attribute name="down-icon" type="xs:string" />
				<xs:attribute name="up-tooltip" type="xs:string" />
				<xs:attribute name="down-tooltip" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="cell-renderer" abstract="true" />
	<xs:complexType name="text-renderer">
		<xs:complexContent>
			<xs:extension base="cell-renderer">
				<xs:sequence>
					<xs:element name="icon" type="icon-type" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="format" type="xs:string" use="required" />
				<xs:attribute name="icon" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="combo-type">
		<xs:complexContent>
			<xs:extension base="field-type">
				<xs:sequence>
					<xs:element name="renderer" type="cell-renderer" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="available-values" type="xs:string" use="required" />
				<xs:attribute name="value-tooltip" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="button-type">
		<xs:complexContent>
			<xs:extension base="field-type">
				<xs:sequence>
					<xs:element name="icon" type="icon-type" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="text" type="xs:string" />
				<xs:attribute name="icon" type="xs:string" />
				<xs:attribute name="action" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="tabs-type">
		<xs:complexContent>
			<xs:extension base="component-type">
				<xs:sequence>
					<xs:element name="tab" minOccurs="0">
						<xs:complexType>
							<xs:all>
								<xs:element name="tab">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="icon" type="icon-type" minOccurs="0" maxOccurs="1" />
										</xs:sequence>
										<xs:attribute name="name" type="xs:string" />
									</xs:complexType>
								</xs:element>
								<xs:element name="panel" type="panel-type" />
							</xs:all>
							<xs:attribute name="id" type="xs:string" use="required" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="split-type">
		<xs:complexContent>
			<xs:extension base="component-type">
				<xs:sequence>
					<xs:element name="panel" type="panel-type" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="scroll-type">
		<xs:complexContent>
			<xs:extension base="component-type">
				<xs:sequence>
					<xs:element name="panel" type="panel-type" minOccurs="1" maxOccurs="1" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="table-on-mouse">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="click" />
					<xs:enumeration value="press" />
					<xs:enumeration value="release" />
					<xs:enumeration value="enter" />
					<xs:enumeration value="exit" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="action" type="xs:string" use="required" />
	</xs:complexType>

	<xs:complexType name="table-column">
		<xs:sequence>
			<xs:element name="renderer" type="cell-renderer" maxOccurs="1" />
			<xs:element name="editor" type="cell-editor" maxOccurs="1" />
			<xs:element name="on-mouse" type="table-on-mouse" />
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required" />
		<xs:attribute name="map" type="xs:string" use="required" />
		<xs:attribute name="set" type="xs:string" />
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="header-tooltip" type="xs:string" />
		<xs:attribute name="cell-tooltip" type="xs:string" />
		<xs:attribute name="width" type="xs:positiveInteger" />
		<xs:attribute name="min-width" type="xs:positiveInteger" />
		<xs:attribute name="pref-width" type="xs:positiveInteger" />
		<xs:attribute name="max-width" type="xs:positiveInteger" />
		<xs:attribute name="widths">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]+,[0-9]+,[0-9]+" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="resizable" type="xs:boolean" />
		<xs:attribute name="filterable" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="cell-editor" abstract="true">
		<xs:attribute name="edit-with-clicks" type="xs:nonNegativeInteger" default="2" />
		<xs:attribute name="update-on-change" type="xs:boolean" default="true" />
		<xs:attribute name="tooltip" type="xs:string" />
		<xs:attribute name="filter" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="text-editor">
		<xs:complexContent>
			<xs:extension base="cell-editor">
				<xs:sequence>
					<xs:element name="icon" type="icon-type" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="format" type="xs:string" use="required" />
				<xs:attribute name="warning" type="xs:string" />
				<xs:attribute name="select-all-on-focus" type="xs:boolean" default="true" />
				<xs:attribute name="password" type="xs:boolean" default="false" />
				<xs:attribute name="echo-char">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="."/>
						</xs:restriction>
					</xs:simpleType>
  				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="combo-editor">
		<xs:complexContent>
			<xs:extension base="cell-editor">
				<xs:sequence>
					<xs:element name="renderer" type="cell-renderer" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="available-values" type="xs:string" use="required" />
				<xs:attribute name="value-tooltip" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="check-editor">
		<xs:complexContent>
			<xs:extension base="cell-editor" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="slider">
		<xs:complexContent>
			<xs:extension base="cell-editor">
				<xs:attribute name="min" type="xs:string" use="required" />
				<xs:attribute name="max" type="xs:string" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="table-action">
		<xs:complexContent>
			<xs:extension base="button-type">
				<xs:attribute name="allow-for-empty" type="xs:boolean" default="false" />
				<xs:attribute name="allow-for-multiple" type="xs:boolean" default="true" />
				<xs:attribute name="allow-for-any-enabled" type="xs:boolean" default="false" />
				<xs:attribute name="allow-when" type="xs:boolean" />
				<xs:attribute name="menu-path" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="list-widget-type" abstract="true">
		<xs:complexContent>
			<xs:extension base="field-type">
				<xs:sequence>
					<xs:element name="action" type="table-action" minOccurs="0" />
					<xs:element name="add" type="table-action" minOccurs="0" />
					<xs:element name="remove" type="table-action" minOccurs="0" />
					<xs:element name="copy" type="table-action" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="selected" type="xs:string" />
				<xs:attribute name="item-name" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="list-type">
		<xs:complexContent>
			<xs:extension base="list-widget-type">
				<xs:sequence>
					<xs:element name="renderer" type="cell-renderer" maxOccurs="1" />
					<xs:element name="editor" type="cell-editor" maxOccurs="1" />
					<xs:element name="on-mouse" type="table-on-mouse" />
				</xs:sequence>
				<xs:attribute name="set" type="xs:string" />
				<xs:attribute name="cell-tooltip" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="table-type">
		<xs:complexContent>
			<xs:extension base="list-widget-type">
				<xs:sequence>
					<xs:element name="column" type="table-column" minOccurs="0" />
					<xs:element name="name-column" type="table-column" minOccurs="0" maxOccurs="1" />
				</xs:sequence>
				<xs:attribute name="search-bar" type="xs:boolean" />
				<xs:attribute name="search-field" type="xs:string" />
				<xs:attribute name="columns" type="xs:string" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="component" type="component-type" abstract="true" />
	<xs:element name="panel" type="panel-type" />
</xs:schema>
